body, html {
    height: 100%;
    background-color: #464646;
}

/* NAVBAR STYLE */
.positionStyle{
    text-align: right;
    color: #fff;
}
/* TITLE SECTION */

.borderTitle {
    margin-top: 2px;
    border-style: none;
    border-color: gray;
    border-radius: inherit;
    
}

.descriptionTitle {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-variant-position: inherit;
}

.description {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-position: inherit;
}

/* TEXT CARD PROPERTIES */

.section {
    text-align: left; 
}

/* TEXT TITLE PROPERTIES */

.title {
    text-align: center;
    color: #fff;
    
}


/* INFO CARD */

.infoCard {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant-position: inherit;
}


/* FOOTER */

.socialIconStyle {
    background-color: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.copyrightText{
    color: white;
}
.poweredText{
    font-size:x-small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

/* CAROUSEL */

.carousel-inner img {
    width: 100%;
    height: 100%;
    align-content: center;
}
.divInformation{
    background-color: #464646;
}
.imgCarousel {
    width: 700px;
    height: auto;
    align-content: center;
    align-items: center;
}

/* INITIAL NAV */

.bg {
    /* The image used */
    background-image: url("Content/banner3.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* DIV BACKGROUND */

.backgroundDiv{
    background-color: #464646;
    padding-top: 90px;   
}

/* CAROUSEL TEXT */
.textCarousel{
    align-content: center;
    align-items:center;
    text-align: center;
    vertical-align: central;
}
